@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

/***** General Styles *****/
* {
  font-family: 'Roboto', Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  background-color: rgb(248, 244, 244);
  height: 100%;
}

#app {
  height: 100%;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}

p {
  margin: 1px;
}

#basic-button {
  display: inline;
}

/***** Header / App *****/
#banner {
  background: linear-gradient(to top, rgba(40, 40, 40, 0.75) 25%, transparent), url("images/banner.png") left 0% bottom 50%/cover no-repeat border-box, black;
  border-bottom: red 1px solid;
  height: 100px;
  margin: 0px;
}

#banner__text {
  margin: 0px;
  padding: 15px 4px;
  vertical-align: center;
  font-size: 3rem;
  font-family: 'Fondamento', cursive;
  color: white;
  opacity: 1.0;
}

#grid-container {
  display: grid;
  grid-template-rows: 35px auto 120px;
  grid-template-areas: "nav-bar nav-bar nav-bar"
                       "current-table editor editor"
                       "footer footer footer";
  height: 100%;
  gap: 4px;
  column-gap: 16px;
}

#main-nav {
  grid-area: nav-bar;
  background-color: rgb(36, 37, 39);
  color: rgb(165, 175, 186);
  padding: 8px 4px;
  padding-left: 2px;
}

.main-nav__item {
  margin: 24px;
  margin-left: 4px;
  cursor: not-allowed;
}

/***** Table *****/
#table-component {
  grid-area: current-table;
}

#table {
  display: grid;
  row-gap: 4px;
  grid-template-areas: "title title title"
                       "description description description"
                       "header header header"
                       "rows rows rows";
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
}

#table-title {
  grid-area: title;
  display: grid;
  gap: 4px;
  grid-template-rows: auto auto;
}

#table-menu {
  justify-content: start;
  align-content: center;
}

#table-description {
  grid-area: description;
  font-size: small;
  font-style: italic;
  text-align: justify;
  margin-bottom: 12px;
}

#table-header {
  grid-area: header;
  border-bottom: rgb(165, 175, 186) 3px solid;
}

#header-row {
  display: grid;
  grid-template-columns: 128px auto;
  grid-template-areas: "roll option";
  justify-items: start;
  align-items: center;
  align-content: center;
  margin: 4px;
}

#roll-button {
  grid-area: roll;
  color: white;
  background-color: #1b9af0;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
}

#roll-button:active {
  background-color: #1379bd;
  border: none;
  outline-color: none;
}

#roll-button:focus {
  border: none;
  outline-color: none;
}

#option-header {
  grid-area: option;
  justify-self: end;
  margin: 0px;
}

#table-rows {
  grid-area: rows;
}

#table-row {
  display: grid;
  grid-template-columns: 64px 64px auto;
  grid-template-areas: "range buttons option-name";
  justify-items: start;
  align-items: center;
  border-bottom: rgb(165, 175, 186) 1px solid;
  margin: 4px;
}

#row-range {
  grid-area: range;
}

#row-buttons {
  grid-area: buttons;
}

#row-name {
  grid-area: option-name;
  margin: 0px;
}

/***** Editor *****/
#editor-component {
  grid-area: editor;
  margin-left: 5px;
  margin-right: 5px;
}

#editor-title {
  margin-bottom: 8px;
}

#editor-nav {
  width: 90%;
  padding: 4px;
  padding-left: 0px;
}

.editor-nav__item {
  padding: 6px;
  margin-right: 4px;
  background-color: rgba(185, 195, 206, 0.3);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: small;
  cursor: not-allowed;
}

#editor-nav__selected {
  background-color: white;
  cursor: default;
}

#text-box {
  border: none;
}

/***** Footer *****/
.footer {
  background-color: black;
  color: white;
  border-top: red 1px solid;
  margin: 0px;
  grid-area: footer;
  position: relative;
}

#dndbeyond-link {
  color: blue;
}

#dndbeyond-link:visited {
  color: crimson;
}

#github-link {
  color: blue;
}

#github-link:visited {
  color: crimson;
}
